
.auth{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.auth>form{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}
.auth > form >div{
    width: 100%;
    padding: 20px;  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    padding: 5px 0;
}
.auth > form >div *:not(label){
    padding: 8px 0;
}
.auth>form>div>input,
.auth>form>div>select{
    padding:8px !important;
}

.auth > form > div >a{
    text-decoration: none;
    color:var(--global-primary-color)
}

.auth>form>div>div{
    color: var(--global-primary-color);
}
.auth input,
.auth select{
    border-radius:var(--global-radius);
    border:var(--global-border)
}
.auth button{
    transition:all 0.3s ease-out;
    background-color: var(--global-primary-color);
    border-radius: var(--global-radius);
    border:0;
    color: white;
    margin-top: 15px;
    padding:10px !important;
    font-size:16px;
    cursor: pointer;
}
.auth button:hover{
    border-radius: var(--global-radius);
    border: 1px solid var(--global-primary-color);
    background-color: white;
    color: var(--global-primary-color);
}
.auth input.error,
.auth select.error{
    border: 1px solid red;
}



@media screen and (min-width: 600px){
    .auth{
        background-color: var(--global-bg-color-soft);
    }
    .auth >form{
        border: var(--global-border);
        width: 400px;
        border-radius: var(--global-radius);
        box-shadow: rgba(17,12,46,0.15) 0px 48px 100px 0px;
        background-color: white;
    }

}