/* @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;800;900&display=swap');

.container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
*{font-family: 'Nunito', sans-serif;}

.container>form{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}


.container > form >div{
    width: 100%;
    padding: 20px;  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    padding: 5px 0;
}
.container > form >div *:not(label){
    padding: 8px 0;
}
@media screen and (min-width: 600px){
    .container{
        background-color: #fafafa;
    }
    .container >form{
        border: 1px solid rgb(201, 201, 201);
        width: 400px;
        border-radius: 8px;
        box-shadow: rgba(17,12,46,0.15) 0px 48px 100px 0px;
        background-color: white;
    }

} */